#artistPage {
  width: 100vw;
  background: linear-gradient(100deg, #315cd4 0%, #121214 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#artistPage .worksContent {
  margin-top: 80px;
}

#artistPage .worksContent h2 {
  margin-bottom: 20px;
  color: #e1e1e6;
}

#artistPage .worksContent .worksList li {
  margin-bottom: 10px;
  padding: 0;
}

#artistPage .worksContent .worksList li hr {
  margin: 8px 0;
}