.App {
  background: #315cd4;

  height: 100vh;
  width: 100vw;
}

.content .artistList {
  height: 800px;
  background: #3b05a0;
}

.content .artistList {
  display: flex;
}

.content .artistList .artists {
  margin-right: 100px;
}

.content .artistList .albums {
  display: flex;
  flex-direction: column;
}