.headerContent {
  height: 60px;
  width: 100%;
  background: #121214;

  display: flex;
  align-items: center;
  justify-content: space-around;

  box-sizing: border-box;
}

.headerContent a {
  text-decoration: none;
  color: var(--text-color);

  left: 0;
}

.headerContent form {
  display: flex;
  align-items: center;
}

.headerContent input {
  height: 32px;
  width: 700px;
  padding-left: 8px;

  background-color: #121213e0;
  color: var(--text-color);
  border: solid 2px black;
  border-right: none;
  outline: 0;
}

.headerContent button {
  height: 36px;
  width: 36px;
  background: #121213e0;
  border: solid 2px black;
  border-left: none;

}

.headerContent button svg {
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--text-color);
}

.headerContent span {
  color: var(--text-color);
}